body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  padding: 10px;
}

h1 {
  text-align: center;
}

select, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

li {
  display: flex;
  align-items: center;
  background: #222;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
}

img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
